<!-- Consent Section-->
<section class="page-section" id="consent">
  <div class="container">
    <!-- Consent Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Consent</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Consent Section Content-->
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <!-- To configure the consent receipt, go to .env file.-->
        <p class="lead">Connect data sources and get consent.</p>
        <p class="lead">Import data into the personal data store.</p>
        {{#if session.userAccessToken}}
        <br /><br />
        <p class="lead">Consent already provided - Here is the consent user access token</p>
        <div class="input-group"><input class="form-control" id="consentUserAccessToken" readonly="true" type="password"
            value="{{session.userAccessToken}}">
          <div class="input-group-addon">
            &nbsp;<a href="javascript:copyToClipboard('consentUserAccessToken')"><i
                class="material-icons-outlined text-primary" aria-hidden="true">file_copy</i></a>
          </div>
        </div>
        {{/if}}
        <div class="text-center mt-4">
          <a class="btn btn-xl btn-primary" href="{{actionActivateConsent}}">
            <i class="material-icons mr-1">verified_user</i>
            Get consent &amp; Import data
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Process Section-->
<section class="page-section bg-primary text-white mb-0" id="process">
  <div class="container">
    <!-- Process Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">Process</h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Process Section Content-->
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="lead">Load personal data into the data cage (confidential graph engine).</p>
        <p class="lead">Load products into the knowledge graph and enrich data.</p>
        <br />
        <div class="text-center mt-4">
          <a class="btn btn-xl btn-primary btn-outline-light" href="/loadAndEnrich">
            <i class="material-icons mr-1">blur_on</i>
            Load &amp; Enrich data
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- App Section-->
<section class="page-section portfolio" id="personalize">
  <div class="container">
    <!-- App Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Personalize</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- App Grid Items-->
    <div class="row">
      <!-- App Item 1-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-code fa-3x"></i></div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/api.png" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-code fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/api.png" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-code fa-3x"></i></div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/api.png" alt="" />
        </div>
      </div>

    </div>
  </div>
</section>